@import "node_modules/bootstrap/scss/bootstrap";
@import "./assets/variables";
@import "./assets/bootswatch";
@import "node_modules/bootstrap-vue/src/index.scss";
@import "../node_modules/@fortawesome/fontawesome-pro/css/all.css";

// Custom scrollbar
/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: $blue-300 $blue-700;

  &:hover {
    scrollbar-color: $orange $blue-700;
  }
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: $blue-700;
}
*::-webkit-scrollbar-thumb {
  background-color: $blue-300;

  &:hover {
    background-color: $orange;
  }
}

// Tooltip
.tooltip {
  color: $blue-10;
  font-size: 1.1em;
  font-weight: bold;

  .arrow::before {
    border-top-color: $blue-600;
  }

  .tooltip-inner {
    background-color: $blue-600;
  }
}

// Sweet Alert
.swal2-container.swal2-bottom.swal2-backdrop-show > div {
  box-shadow: none;
}

// Tables
.table-dark {
  background-color: $blue-700;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: $blue-600;
}

.table.b-table > thead > tr > [aria-sort="none"],
.table.b-table > tfoot > tr > [aria-sort="none"] {
  background-image: url("./assets/sort-none.svg");
}
.table.b-table > thead > tr > [aria-sort="ascending"],
.table.b-table > tfoot > tr > [aria-sort="ascending"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='red' d='M51 1l25 23 24 22H1l25-22z'/%3e%3cpath fill='black' opacity='.3' d='M51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e");
}

.table.b-table > tbody > tr.b-table-details > td {
  padding: 0.75em 0;
}

// Selection
::selection {
  background: $danger;
  color: $blue-10;
}

::-moz-selection {
  background: $danger;
  color: $blue-10;
}

.bg-transparent {
  background: transparent !important;
}
